body {
    margin: auto;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

.container {
    width: 90%;
    margin: auto;
}

h2 {
    color: #143F26;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 0;
}

button {
    background-color: #BDFF0D;
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 5px;
}

button:hover {
    box-shadow: #BDFF0D;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: #000000;
}

header {
    background-image: url('../IMG/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 120vh;
    color: #FFFFFF;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 15px;
    /* position: fixed; */
}

#nav {
    display: flex;
    gap: 35px;
}

li {
    overflow: hidden;
}

li a {
    text-decoration: none;
    color: #FFFFFF;
}

li a:hover {
    color: #BDFF0D;
}

#action {
    display: flex;
    gap: 35px;
}

#action p a {
    text-decoration: none;
    color: #FFFFFF;
}

#action p a:hover {
    color: #BDFF0D;
}

#action button {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 2px 20px 2px 20px;
    border-radius: 5px;
}

#action button:hover {
    background-color: #BDFF0D;
    border-color: #BDFF0D;
}

#action button a {
    text-decoration: none;
    color: #FFFFFF;
}

#part1 {
    padding-top: 30px;
    display: flex;
}

.span1 {
    color: #BDFF0D;
    /* color: linear-gradient(90deg, #BDFF0D 85%, #5C944C 15%); */
}

#part1 div:first-child {
    width: 50%;
}

#part1 div:first-child .arr {
    float: right;
    margin-top: -90px;
    margin-right: 40px;
}

#part1 .desc p {
    margin-top: -40px;
}

#part1 div:first-child h1 {
    font-size: 70px;
    font-weight: lighter;
}

#part1 div:last-child {
    width: 50%;
}

#part1 div:last-child img {
    width: 650px;
}

#part1 .desc .arrow {
    width: 100px;
    margin-top: -20px;
    margin-left: 30px;
}

.resource {
    display: flex;
    gap: 15px;
    margin-top: 50px;
}

.img {
    display: flex;
    margin-bottom: 200px;
    margin-right: 15px;
}

.img .img2 {
    margin-left: -10px;
}

.img .img3 {
    margin-left: -10px;
}

.resource .millions {
    display: flex;
    flex-direction: column;
}

.millions .milli {
    display: flex;
    font-size: 30px;
    font-weight: lighter;
    margin: -1px;
}

.millions .milli img {
    width: 5px;
    margin-top: -15px;
}

.millions p {
    font-size: small;
    margin: 0;
    width: 200px;
}

.phone img {
    width: 100px;
}

#cards {
    background-color: aliceblue;
}

#cards .title1 h2 {
    margin-top: 0;
    padding-top: 40px;
}

#cards div {
    text-align: center;
}

#cards .card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    margin-top: 50px;
    padding-bottom: 70px;
}

#cards .card-list .card {
    background-color: #FFFFFF;
    padding: 10px;
}

/* #cards .card-list .card:hover {

} */

#cards .card-list .card .img {
    background-color: #BDFF0D;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding: 10px 13px 10px 13px;
    border-radius: 100%;
}

#split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 40px;
}

#split .split {
    display: flex;
    background-color: #5C944C;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
}

#split .split img {
    width: 180px;
}

#split .split .imga {
    margin: -120px 30px 100px 0;
}

#split .split .imgb {
    margin-bottom: -120px;
}

#split .man {
    display: flex;
    justify-content: center;
}

#split .man .iman {
    width: 300px;
}

#split .man .cash {
    margin-top: -290px;
    width: 50px;
}

#split .man .coin {
    margin-top: -160px;
    width: 50px;
}

#slide {
    background-image: url('../IMG/bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
}

#slide .slide h2 {
    color: #BDFF0D;
    text-align: center;
    width: 40%;
    margin: auto;
    padding-top: 40px;
}

#slide #slide2 {
    width: 100%;
    /* background-color: red; */
    overflow-x: scroll;
}

#slide .slide-cards {
    display: flex;
    width: auto;
    gap: 50px;
    align-items: center;
}

#slide .slide-cards .slide-card {
    background-color: #FFFFFF;
    width: 350px;
    padding: 40px;
    border-radius: 5px;
    margin-top: 50px;
}

#slide .slide-cards .slide-card:hover {
    width: 400px;
    height: 280px;
    padding: 30px;
}

#slide .slide-cards .slide-card .p1 {
    text-align: center;
    padding-bottom: 10px;
}

#slide .slide-cards .sub-card {
    display: flex;
    border-top: 2px solid aliceblue;
    padding-top: 20px;
    gap: 10px;
    align-items: center;
}

#slide .slide-cards .sub-card img {
    width: 15%;
    height: 15%;
}

#slide .slide-cards .sub-card div h3 {
    margin: 0;
    font-weight: lighter;
    color: #143F26;
}

#slide .slide-cards .sub-card div p {
    margin: 0;
    font-size: small;
}

#slide .selector {
    display: flex;
    margin-top: 30px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#slide .selector div {
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border-radius: 100%;
}

#slide .selector div:hover {
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-color: #BDFF0D;
}

.span3 {
    color: #FFFFFF;
}

.questions {
    width: 50%;
    margin: auto;
}

.q1 {
    text-align: center;
}

.q2 {
    padding: 40px 0;
}

.questions details {
    padding: 25px;
    border-bottom: 1px solid black;
}

.questions details summary {
    font-weight: 600;
    list-style-type: none;
    border: none;
}

/* this one hides the marker in webkit based browsers, like chrome and safari */
/* .questions details summary::-webkit-details-marker {
    display: none;
} */

#bg3 {
    background-image: url('../IMG/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 85%;
    margin: 50px auto;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
    padding: 0 40px;
}

#bg3 h2 {
    color: #FFFFFF;
}

#bg3 h2 .span2 {
    color: #BDFF0D;
}

#bg3 .img a img {
    /* width: 120px; */
    margin-right: 10px;
    margin-top: 100px;
}

#bg3 .pics {
    display: flex;
}

#bg3 .pics .img1{
    width: 90px;
    margin-top: -90px;
    margin-right: 30px;
}

#bg3 .pics .img2 {
    width: 400px;
    margin-bottom: -490px;
}


footer {
    background-color: aliceblue;
}

footer .part1 {
    display: grid;
    grid-template-columns: 5fr 1fr;
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 10px;
    padding: 20px 0;
    align-items: center;
}

footer .part1 h2 {
    width: 75%;
}

footer li {
    line-height: 2;
}

footer li a {
    text-decoration: none;
    color: #000000;
    text-align: left;
}

footer li a:hover {
    color: #143F26;
}

.part2 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    justify-content: space-between;
    border-top: 2px solid #FFFFFF;
}

.part2 div {
    display: flex;
    gap: 20px;
}

/* Media query for medium screen-size */
@media (max-width: 768px) {
    /* body {
        visibility: hidden;
    } */


}

/* Media query for mobile screen-size */
@media (max-width: 520px) {
    body {
        /* visibility: hidden; */
        font-size: small;
    }

    h2 {
        font-size: medium;
    }

    #part1 {
        display: flex;
        /* flex-direction: column; */
    }

    #part1 div:first-child h1 {
        font-size: 40px;
    }

    #part1 div:last-child img {
        width: 350px;
    }

    #cards .card-list {
        display: grid;
        grid-template-columns: 1fr;
    }

    #split {
        display: grid;
        grid-template-columns: 1fr;
    }

    #split .split img {
        width: 100px;
    }

    #split .split .imga {
        margin-top: -67px;
        margin-bottom: 40px;
    }

    #split .split .imgb {
        margin-bottom: -70px;
    }

    #split .man .iman {
        width: 200px;
    }

    #split .man .cash {
        margin-top: -150px;
    }

    #split .man .coin {
        margin-top: -80px;
    }

    #questions .questions {
        width: 90%;
    }

    #bg3 {
        display: grid;
        grid-template-columns: 1fr;
    }

    #bg3 .pics .img1 {
        width: 35px;
    }

    #bg3 .pics .img2 {
        width: 200px;
    }

    footer .part2 {
        display: grid;
        grid-template-columns: 1fr;
    }
}